@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HRManagementSystem</title>

    <link rel="stylesheet" href="~/assets/css/style.css" />
    <link rel="stylesheet" href="~/assets/css/style-preset.css" />
    <link rel="stylesheet" href="~/assets/fonts/tabler-icons.min.css" />
</head>
<body class="auth-main">
    <div class="auth-wrapper">
        @RenderBody()
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
